.content {
    margin-top: 70px;
}

.user-avatar {
    width: 30px;
    height: 30px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quantity-form>#quantity {
    width: 80px;
}
